body {
margin: auto;
width: 40%;
padding: 10px;
font-family: 'Lato', sans-serif;
border-left: 6px solid #2baadf;
}
.date {
    color: #cccccc;
     }
.text {
    color: #444444;
}
a {
    color: #2baadf;
    text-decoration: none;
}
a:hover {
    color: #3264a8;
}
